$primary-color: rgb(241, 241, 241);
$secondary-color: rgb(225, 250, 255);

$page: rgb(78, 78, 78);
$blue: rgb(38, 194, 255);

.card {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  .container {
    display: flex;
    margin: 4rem;
    background: $page;
    color: $primary-color;
    border-radius: 2rem;
    width: 75%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }

  .card_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      font-size: 4rem;
      background: -webkit-linear-gradient($primary-color, $secondary-color);
      background-size: 100%;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
      text-align: center;
    }

    .card_text {
      padding: 0 1rem 0 1rem;
      font-size: 20px;
    }
  }

  .image_wrapper {
    position: relative;
    flex: 1;

    .card_image_1 {
      padding: calc(2rem + 4px) calc(2rem + 4px) 2rem calc(1rem + 4px);
      width: 900px;
      position: relative;
    }

    .image_wrapper_2 {
      position: absolute;
      z-index: 2;
      padding: calc(1rem + 4px) calc(1rem + 4px) 1rem calc(1rem + 4px);
      border-radius: 1rem;
      top: -4rem;
      right: -4rem;
      overflow: hidden;
      background: $page;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    }
  }
}

.languages_wrapper {
  display: flex;
  justify-content: center;
  margin-top: -7rem;
  margin-bottom: 2rem;
}

.button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
