@import "../../styles/colors/colors.scss";
@import "../../styles/sizes/media.scss";

.card {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  width: 100%;

  .container {
    display: flex;
    margin: 4rem;
    background: $page;
    color: $primary-color;
    border-radius: 2rem;
    width: 75%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

    @media only screen and (max-width: $small_desktop) {
      width: 85%;
    }

    @media only screen and (max-width: $tablets) {
      flex-direction: column;
    }

    @media only screen and (max-width: $portrait_mobile) {
      border-radius: unset;
      min-width: 100%;
    }
  }

  .card_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      font-size: 4rem;
      background: -webkit-linear-gradient($primary-color, $secondary-color);
      background-size: 100%;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
      text-align: center;
    }

    .card_text {
      padding: 0 1rem 0 1rem;
      font-size: 20px;

      @media only screen and (max-width: $small_desktop) {
        font-size: 14px;
        padding: 0 0.5rem 0 1rem;
      }
    }
  }

  .image_wrapper {
    position: relative;
    flex: 1;

    .card_image_1 {
      padding: calc(2rem + 4px) calc(2rem + 4px) 2rem 4px;
      width: 900px;
      position: relative;

      @media only screen and (max-width: $small_desktop) {
        width: 700px;
      }

      @media only screen and (max-width: $small_desktop) {
        width: 500px;
      }

      @media only screen and (max-width: $tablets) {
        width: 100%;
        padding: 0 2rem 2rem 2rem;
      }

      @media only screen and (max-width: $portrait_mobile) {
        padding: unset;
        padding-bottom: 1.5rem;
      }
    }

    .image_wrapper_2 {
      position: absolute;
      z-index: 2;
      padding: calc(1rem + 4px) calc(1rem + 4px) 1rem calc(1rem + 4px);
      border-radius: 1rem;
      top: -4rem;
      right: -4rem;
      overflow: hidden;
      background: $page;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
      width: 450px;

      @media only screen and (max-width: $small_desktop) {
        width: 400px;
      }

      @media only screen and (max-width: $tablets) {
        display: none;
      }
    }

    .image_wrapper_2_mobile {
      position: absolute;
      z-index: 2;
      padding: calc(1rem + 4px) calc(1rem + 4px) 1rem calc(1rem + 4px);
      border-radius: 1rem;
      top: -4rem;
      right: -4rem;
      overflow: hidden;
      background: $page;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
      width: 220px;

      @media only screen and (max-width: $small_desktop) {
        width: 180px;
      }

      @media only screen and (max-width: $tablets) {
        display: none;
      }
    }
  }
}

.languages_wrapper {
  display: flex;
  justify-content: center;
  margin-top: -7rem;
  margin-bottom: 2rem;

  @media only screen and (max-width: $portrait_mobile) {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    justify-content: space-evenly;
    margin-bottom: 0;
  }
}

.button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $small_desktop) {
    padding-bottom: 1rem;
  }
}
