@import "../../styles/colors/colors.scss";
@import "../../styles/sizes/media.scss";

.logo_card_small {
  font-size: 2rem;
  background: -webkit-linear-gradient($primary-color, $secondary-color);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-align: center;
  margin: 0;
}

.logo_card {
  font-size: 3rem;
  background: -webkit-linear-gradient($primary-color, $secondary-color);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-align: center;
  margin: 0;

  @media only screen and (max-width: $small_desktop) {
    font-size: 2rem;
  }

  @media only screen and (max-width: $portrait_mobile) {
    font-size: 3rem;
  }
}

.logo_card_black {
  font-size: 3rem;
  background: -webkit-linear-gradient(
    $title_color_1_black,
    $title_color_2_black
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-align: center;
  margin: 0;
}
