$primary-color: rgb(241, 241, 241);
$secondary-color: rgb(225, 250, 255);
$title_color_1_black: rgb(49, 49, 49);
$title_color_2_black: rgb(117, 117, 117);

$page: rgb(78, 78, 78);
$page2: rgb(104, 104, 104);
$blue: rgb(38, 194, 255);
