$primary-color: rgb(241, 241, 241);
$secondary-color: rgb(225, 250, 255);

$page: rgb(78, 78, 78);
$blue: rgb(38, 194, 255);

.container {
  background: $page;

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;

    .footer_wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;

      button {
        background: none;
        border: none;
      }

      .button {
        color: $primary-color;
        background: none;
        padding: 0.5rem;
        border-radius: 100%;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        transition: 150ms ease-in;
        width: 4rem;
        height: 4rem;
        cursor: pointer;

        &:hover {
          color: $blue;
          transform: scale(1.05);
        }
      }
    }
  }
}
