@import "../../styles/colors/colors.scss";

.container {
  background: $page;
  margin-top: 6rem;
  padding-bottom: 2rem;
  position: relative;

  .footer_offset {
    background: $page2;
    height: 4rem;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: rotateZ(-3deg) rotateX(5deg);
    margin-left: 3rem;
    overflow: hidden;
  }

  .footer_offset_2 {
    background: $page2;
    height: 4rem;
    width: 110%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    transform: rotateZ(3deg) rotateX(5deg);
    padding-right: 3rem;
    overflow: hidden;
  }

  .arrow_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;

    .footer_info {
      color: $secondary-color;
      font-weight: 100;
      margin: unset;
      margin-bottom: 0.25rem;
    }

    .footer_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-left: 0.5rem;
    }

    .details {
      border-top: 1px solid $page2;
      width: 50%;
      display: flex;
      justify-content: space-evenly;
    }
  }
}
