@import "../../styles/colors/colors.scss";
@import "../../styles/sizes/media.scss";

.container {
  display: flex;
  justify-content: center;
  padding-bottom: 8rem;
  position: relative;

  .about_link {
    position: absolute;
    top: -12rem;
  }

  .about_wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;

    @media only screen and (max-width: $small_desktop) {
      width: 75%;
    }

    @media only screen and (max-width: $portrait_mobile) {
      width: 95%;
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .contents {
      display: flex;
      justify-content: space-evenly;

      @media only screen and (max-width: $iphone_mobile) {
        flex-direction: column;
        align-items: center;
      }

      .image {
        overflow: hidden;
        border-radius: 50%;
        margin: 1rem;
        width: 400px;
        height: 400px;

        @media only screen and (max-width: 1500px) {
          width: 300px;
          height: 300px;
        }

        @media only screen and (max-width: $small_desktop) {
          width: 300px;
          width: 300px;
        }

        @media only screen and (max-width: $laptops) {
          width: 200px;
          height: 200px;
        }

        @media only screen and (max-width: $iphone_mobile) {
          width: 160px;
          height: 160px;
          margin: unset;
        }
      }

      .info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 1;

        .info_description_1 {
          font-size: 24px;

          @media only screen and (max-width: $laptops) {
            font-size: 20px;
          }

          @media only screen and (max-width: $portrait_mobile) {
            font-size: 18px;
          }

          @media only screen and (max-width: $iphone_mobile) {
            font-size: 20px;
          }
        }

        .info_description_2 {
          font-size: 20px;

          @media only screen and (max-width: $laptops) {
            font-size: 16px;
          }

          @media only screen and (max-width: $portrait_mobile) {
            font-size: 14px;
          }

          @media only screen and (max-width: $iphone_mobile) {
            font-size: 16px;
          }
        }

        .button_wrapper {
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  .portfolio_link {
    position: absolute;
    font-size: 2rem;
    bottom: 12rem;
  }

  .arrow_button_wrapper {
    display: flex;
    justify-content: center;
  }
}
