$primary-color: rgb(116, 116, 116);
$secondary-color: rgb(46, 46, 46);
$blue: rgb(38, 194, 255);

.container {
  display: flex;
  justify-content: center;
  padding-bottom: 6rem;
  position: relative;

  .about_link {
    position: absolute;
    top: -12rem;
  }

  .about_wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;

    .title {
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        font-size: 4rem;
        background: -webkit-linear-gradient($primary-color, $secondary-color);
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        text-align: center;
      }
    }

    .contents {
      display: flex;
      justify-content: space-evenly;

      .image {
        overflow: hidden;
        border-radius: 50%;
        margin: 2rem;
      }

      .info {
        flex: 1;

        .info_description_1 {
          font-size: 24px;
        }

        .info_description_2 {
          font-size: 20px;
        }

        .button_wrapper {
          display: flex;
          justify-content: center;

          button {
            padding: 1rem;
            width: 4rem;
            height: 4rem;
            margin: 0 0.5rem 0 0.5rem;
            border: none;
            background: none;
            border-radius: 100%;
            transition: 120ms ease-in;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
              color: $blue;
              animation: shake 300ms ease-in;

              @keyframes shake {
                0% {
                  transform: rotate(0deg);
                }

                25% {
                  transform: rotate(8deg);
                }

                50% {
                  transform: rotate(0deg);
                }

                75% {
                  transform: rotate(-8deg);
                }

                100% {
                  transform: rotate(0deg);
                }
              }
            }
          }
        }
      }
    }
  }
}
